{% extends 'theboard/main.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content%}

<h1>Edit Profile Settings ...</h1>
</br></br>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }} 
        </br>       
        <a href="{% url 'change_password' %}" class="btn btn-secondary">Change Password</a>
        </br></br></br></br>
        <button class="btn btn-secondary">Update Profile Settings</button>
        </br></br></br></br>
</div>


{% endblock %}
